input{
    width: 259px;
    height: 29px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    padding-left: 10px;

    &:focus{
        outline: none;
    }

    &::placeholder{
        font-size: 12px;
    }
}