@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.city-image{
    height: 202px;
    width: 25%;
    background-position: center;
    background-size: cover;
    @include center;

    .name-box{
        padding: 3px 15px;
        @include center;
        backdrop-filter: blur(1px);
        background-color: rgba($color: #000000, $alpha: 0.2);
        border: 1px solid $text-color-secondary;
        border-radius: 20px;

        .city-name{
            color: white;
        }
    }
}