@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

header{
    background-color: $bg-color;
    height: 45px;
    width: 100%;
    @include center;
    justify-content: space-between;
    padding-inline: 4%;
    position: fixed;
    top: 0;

    nav{
        ul{
            @include center;
            gap: 36px;
            list-style: none;
            height: 45px;

            li{
                @include listItems;
            }
        }
    }
}