@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.banner{
    background-image: url(../../assets/banner1.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4%;

    form{
        display: flex;
        flex-direction: column;
        margin-top: 14px;

        button{
            @include btn;
            @include center;
            color: $text-color-secondary;
            background-color: $bg-color-secondary;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 10px;
            border: none;

            margin-top: 17px;
        }
    }
}